:root {
    --uoGreen: #104735;
    --uoGrass:#489D46;
    --uoYellow: #E2E11B ;
    --uoDarkGrey: #4D5859;
    --uoLightGrey: #D8DCDA;
}
html {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    width: 70%;
    margin: 0 auto;
    background: var(--uoLightGrey);
    padding-bottom: 2%;
}
.homeHeader {
    background: var(--uoGreen);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 2em;
}
.links {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1em;
    margin-top: 20px;
}
.links {
    gap: 30px;
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
    font-size: 1.25em;
    padding-left: auto;
    padding-right: auto;
    width: 60vw;
    min-width: 100px;
}
.links a:hover {
    background: var(--uoGrass);
    transform: scale(103%);
    transition: .3s;
}
.links a:not(hover) {
    transition: .2s;
}
.divider {
    border: none;
    width: 95%;
    height: 1px;
    background-color: var(--uoDarkGrey);
    margin: 30px auto 0 auto;
}
.projectsHeader {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: var(--uoDarkGrey);
}
.project {
    display: flex;
    align-items: center;
    gap: 5vw;
    margin: 2em 0;
}
.project img {
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-left: 4vw;
}
.project img:first-of-type {
    margin-top: 1.5em;
}
.project a {
    font-size: 1.25vw;;
    color: var(--uoYellow);
    text-align: center;
    background: var(--uoGreen);
    border-radius: 20px;
    padding: .5em 1em;
}